/* GLOBAL___________*/

* {
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: pink;
}

/* HEADER__________*/

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 0px;
    background-image: url(./Images/header-background-img.jpeg);
    background-color: mistyrose;
    color: palevioletred;
    border: solid 2px palevioletred;
    box-shadow: 5px 5px rosybrown;
}

.nav {
    color: palevioletred;

}

/* MAIN__________*/

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2 {
    display: inline-block;
    color: palevioletred;
    background: mistyrose;
    border: solid 2px palevioletred;
    box-shadow: 5px 5px rosybrown;
}


.funFact {
    display: none;
    padding: 5px;
    background-color: mistyrose;
}

section:hover aside {
    display: inline-block;
}

span {
    font-weight: bold;
    color: palevioletred;
}

